/* Стили */



.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.menu {
	/*очистить первую точку*/
	list-style-type: none;
	padding-right: 0;
	/* устанавливает значение поля от правого края элемента. */
	margin: 0;
	height: 0;

	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.itom {
	padding: 10px;
}


